/* normalise default browser styling */
@import "modern-normalize";

:root {
    line-height: 1.5;

    --text-2xs: 0.3rem;
    --text-xs: 0.5rem;
    --text-sm: 0.75rem;
    --text-base: 1rem;
    --text-med: 1.25rem;
    --text-lg: 1.5rem;
    --text-xl: 1.75rem;
    --text-2xl: 2rem;

    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    --main-color: #ffd500;
    --main-color-d: #ffc61b;
    --main-color-d2: #d5a103;
    --second-color: #4d3309;
    --neutral-color: #919191;

    --text-description-color: rgb(53, 53, 53);
}

h1, h2, h3, h4, h5, figure, p, ol, ul, body {
    margin: 0;
}

ol[role="list"], ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1, h2, h3, h4, h5, p, a {
    font-family: Inter, system-ui, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;  
    /* font-size: inherit;
    font-weight: inherit; */
}

/* common classes */

.icon {
    width: 1.75rem;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-style: none;

    font-size: var(--font-bold);
    background-color: var(--main-color);
}

button:hover {
    background-color: var(--main-color-d);
}

button:active {
    background-color: var(--main-color-d2);
}

/* layout of page */
#page-container {
    display: grid;
    grid-template-rows: 85px 1fr;
}

.page-header {
    position: relative;
    box-shadow: 0px 4px 14px 2px rgba(0,0,0,0.35);
    padding: 1.5rem;

    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.page-body {
    padding: 1.5rem;
}

/* styling for header section */
.page-header > .vr {
    border-left: 0.1rem solid black;
    height: 3rem;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-bar > input {
    border: 0.1rem solid black;
    border-radius: 1.25rem;

    height: 1.75rem;
    min-width: 400px;

    padding: 0rem 0.75rem;
}

.book-adder {
    margin-right: 3rem;
    margin-left: auto;
}

/* styling of book card and its components */
